.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 20px;
 
}

.header-logo img {
  height: 50px;
  width: auto;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}


.header {
  background-color: #000000;
  position: fixed;
  width: 100%;
  z-index: 6;
 
  padding: 10px 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  margin-right: 10%;
}

.header li a {
  display: block;
  padding: 20px 20px 4px 20px;
  text-decoration: none;
}

.header-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header-nav-list li {
  margin: 0 15px;
}

.header-nav-list li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.header-nav-list li a:hover {
  text-decoration: underline;
}

.header-socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-socials a {
  display: block;
  margin: 0 10px;
}

.header-socials img {
  height: 25px;
  width: auto;
}