/* Estilos para el componente AutoSlider */
.slick-slider {
    position: relative;
  }
  
  .slick-slider .slick-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .slick-slider .slick-dots li {
    margin: 0 5px;
  }
  
  .slick-slider .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: #bbb;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .slick-slider .slick-dots li button:hover {
    background-color: #555;
  }
  
  .slick-slider .slick-dots li.slick-active button {
    background-color: #333;
  }

  /* Estilos para el componente AutoSlider */
.AutoSlider {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .AutoSlider img {
    max-width: 100px;
    max-height: 100px;
  }